.App {
  width: 90%;
  margin: 0 auto;
}

.player__wrapper {
  border: 1px #a8a6a6 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 24px 24px 24px 0;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}
.player__delerte-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border: 1px solid black;
  background: black;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
}

.players__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 16px;
  background-color: #575656;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 16px;
}

.btn:hover {
  transform: scale(1.1);
}

.player__avatar {
  display: block;
}

.player__avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  padding: -24px;
}
.form-container {
  padding: 16px 0;
  margin: 16px 0;
  border-bottom: 1px solid black;
}
.form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.form-container .form-control {
  width: calc(50% - 24px);
  display: inline-block;
}
.form-control label {
  margin-bottom: 10px;
  display: block;
}
.form-control input {
  width: 90%;
  display: block;
  padding: 8px 16px;
}
.submit-btn {
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  background: #fff;
  color: black;
  padding: 8px 16px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.submit-btn:hover {
  color: white;
  background: black;
}